$color-act-light: #b6d9ed;
$color-act-mid: #42a4f4;
$color-act-dark: #2d71a8;
$color-act-darker: #1c4466;
$color-act-pale: #c8e4fb;

$color-ui-main: #eee;
$color-ui-pale: #f3f3f3;

$color-ui-0: #fff;
$color-ui-1: #ddd;
$color-ui-2: #bbb;
$color-ui-3: #999;
$color-ui-4: #666;
$color-ui-5: #333;
$color-ui-9: #000;
$color-modal: $color-act-darker;

$color-error: #d66;

$font-small: 12px;
$font-normal: 14px;
$font-header: 18px;

$shadow: RGBA(0,0,0,0.4) 4px 8px 12px;


